.logo-header{
	width: 50px;
}

.logo-footer{
	width: 30px;
}

.logo{
	width: 100px;
}

.perfil-miniatura{
	padding:.25rem;
	border-radius:50%!important;
	width:50px;
	height:50px;
}

.text-bg-primario{
	color:#ffff;
	background-color:#a698f5;
}

.text-bg-secundario{
	color: #000000;
	background-color: #e7f598;
}

.fondo-form{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.boton-invisible{
	display: none;
}

.btn-colores{
	width: 20px;
	cursor: pointer;
}

.btn-primario{
	color:#ffffff;
	background-color: #a698f5;
	border-color: #a698f5;
}

.btn-primario:hover{
	color:#000000;
	background-color:#f8f9fa;
	border-color:#f8f9fa;
}
